/*PAGE INDEX --------------------------------------------------------------------------------------------------------------- */
.imagen-principal {
    width: 100%;
    height: auto;
}


@media (min-width: 576px) and (max-width: 1200px) {
    .imagen-principal {
        height: 250px;
    }
}

@media (min-width: 0px) and (max-width: 576px) {
    .imagen-principal {
        height: 200px;
    }
}