$colorPrimario: linear-gradient(90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(78, 99, 64) 100%,
    rgb(58, 69, 71) 100%);

$colorSecundario: linear-gradient(90deg,
    rgba(220, 240, 237, 1) 0%,
    rgb(238, 243, 243) 100%,
    rgb(224, 232, 231) 100%);

$colorSeleccionItem: red;

$colorTextoPrimario: green;

$colorTextoSecundario: rgb(117, 182, 151);

$fontPrimario: verdana;